<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>error 404 pagenotfound</title>
  <style>
    *{
      background-color: black;
    }
    h2{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      color: red;
    }
    h1{
        display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      color: red;

    }
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    {{!-- text-transform: uppercase; --}}
    box-shadow: 0 8px 6px -6px #000;
    color: red;
    
    }
    


  </style>
</head>
<body>
  <h1>404</h1>
  <h2>we are sorry but your request cannot be fullfilled now as we don't have anything regarding the same</h2>
  <a href="index.hbs"><button>Go Back</button></a>
  


     
</body>
</html>